# Configurações do BusAqui

# Porta em que o servidor irá rodar
PORT=3000

# Token da API Olho Vivo da SPTrans (cadastre-se em: http://olhovivo.sptrans.com.br/)
# Deixe vazio ou com valor não configurado para ativar automaticamente o Modo de Demonstração (Mock)
SPTRANS_TOKEN=seu_token_aqui_ou_deixe_vazio_para_demo
